.banner {
  width: 100%;
  position: relative;
  color: white;
}

.banner-contents {
  margin-left: 30px;
  padding-top: 90px;
  height: 150px;
}

.banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.4rem;
}

.banner-desc {
  /* width: ; */
  line-height: 1.5;
  padding-top: 1rem;
  max-width: 650px;
  height: 80px;
}

.banner--fade {
  margin-top: 66px;
  height: 46%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(10, 10, 10, 0.61),
    black
  );
}

.banner-button {
  text-decoration: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  outline: none;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin-right: 1rem;
  border: none;
  transition: all 0.3s ease-in;
  background-color: rgb(17, 17, 17, 0.66);
}

.banner-button:hover {
  background-color: rgb(197, 2, 2);
}

@media only screen and (max-width: 600px) {
  .banner-title {
    font-size: 2rem;
  }
}
