.profile {
  width: 35rem;
  background-color: black;
  height: 100vh;
  color: white;
}

.profile-body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 8%;
  margin-right: auto;
  padding-top: 10%;
  max-width: 800px;
}

.profile-info {
  display: flex;
  margin-top: 10px;
}
.profile-info > img {
  height: 100px;
}

.profile-body > h1 {
  margin-top: 3rem;
  font-size: 40px;
  font-weight: 400;
}

.profile-details {
  color: white;
  margin-left: 10px;
  flex: 1;
}

.profile-details > h2 {
  background-color: gray;
  padding: 15px;
  font-weight: 100;
  font-size: 15px;
  border-radius: 3px;
  padding-left: 20px;
}

.profile-signOut {
  padding: 10px 20px;
  margin-top: 5px;
  width: 100%;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.profile-signOut:hover {
  background-color: #a1040c;
}

.profile-plans {
  margin-top: 20px;
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

@media only screen and (max-width: 550) {
  .profile-body {
  }
}
