.search-result {
  padding: 0 1rem 1rem 1rem;
  background-color: rgb(163, 10, 10);
  box-shadow: -7px 3px 18px -8px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: -7px 3px 18px -8px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: -7px 3px 18px -8px rgba(0, 0, 0, 0.82);
  box-shadow: 7px -3px -18px 8px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: 7px -3px -18px 8px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 7px -3px -18px 8px rgba(0, 0, 0, 0.82);
  border-radius: 5px;
  color: white;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  width: 12rem;
  margin-left: 2rem;
  margin-bottom: 19px;
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search-result:hover {
  transform: scale(1.1);
}

.card-img {
  border-radius: 10px;
  margin: 1.2rem 0 1rem 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
  width: 10rem;
  height: 10rem;
}

.card-content-info {
  line-height: 1.1rem;
  margin: 0.6rem 0 0 0.6rem;
  font-size: 12px;
}

.btn.btn-videoSection.search-result-btn {
  margin: 1rem 0 0 0;
}
